<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gyyx.rbac.mapper.RbacButtonMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.gyyx.rbac.entity.RbacButton">
		<id column="button_id" property="buttonId" />
		<result column="button_name" property="buttonName" />
		<result column="button_icon" property="buttonIcon" />
		<result column="menu_id_f" property="menuIdF" />
		<result column="button_url" property="buttonUrl" />
		<result column="button_status" property="buttonStatus" />
		<result column="button_handler" property="buttonHandler" />
	</resultMap>

</mapper>
