<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gyyx.rbac.mapper.RbacModuleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.gyyx.rbac.entity.RbacModule">
		<id column="module_id" property="moduleId" />
		<result column="module_name" property="moduleName" />
		<result column="module_icon" property="moduleIcon" />
		<result column="module_sort" property="moduleSort" />
		<result column="module_status" property="moduleStatus" />
	</resultMap>

</mapper>
